body {
  background-color: #6b5b95;
  font-family: "PT Sans", sans-serif;
  padding: 30px 0;
}
main {
  text-align: center;
}

.header {
  background-color: #ff5e5b;
  border-radius: 20px 20px 0 0;
  width: 1080px;
  height: 90px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 80px;
  line-height: 1;
  color: #f7cac9;
  margin: 0;
}

.brain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 0 80px;
  width: 920px;
  height: 100px;
  background-color: #ff5e5b;
  border-radius: 0 0 20px 20px;
}
.brain > div {
  display: flex;
  align-items: center;
}
.brain > div > p {
  color: wheat;
  font-weight: 1000;
  margin: 0;
}

.brain button {
  cursor: pointer;
  background-color: wheat;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 6px 8px;
  margin-left: 20px;
  transition: all 0.7s;
}

.brain button:hover {
  background-color: aqua;
  transition: all 0.5s;
}

.brain-mode {
  margin-left: 20px;
}

.active-button {
  background-color: #ffed66 !important;
}

.erase {
  color: limegreen !important;
  font-weight: 700;
}
